<div class="row">
  <div class="section">
    <h1>Status</h1>

    <hr >

    <table>
      <thead>
      <tr>
        <th>Rake Task</th>
        <th>Date Ran</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @rake_task_logs.each do |rake_task_log| %>
        <tr>
          <td><%= link_to rake_task_log.name, rake_task_log_path(rake_task_log.id) %></td>
          <td><%= rake_task_log.date %></td>
          <td><%= link_to "View Logs", rake_task_log_path(rake_task_log.id), { class: 'btn' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
